<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>투표 수정</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/lib/semantic/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/lib/semantic/semantic.min.js"></script>
    <script src="/js/vote.js"></script>
</head>
<style>
    .vote-item {
        border: 1px solid black;
        margin: 2px;
        padding: 2px;
    }

    #voteForm {
        margin-top: 30px;
    }

    .candidates {
        padding: 10px;
        margin: 10px;
    }

    tbody tr td:first-child {
        width: 170px;
        height: 60px;
    }
</style>
<body>

    <div th:replace="fragments/header"> </div>

    <div class="wrapper">
        <h1 class="ui header">투표제작</h1>
        <div class="sub header">투표만드세요</div>

        <!-- <form id="voteForm" action="/vote/making" method="POST"> -->

        <div id="voteForm">
            <button type="ui primary button" class="vote-button" onclick="addVote()">투표 추가</button>

            <table class="ui definition table">
                <tbody>
                    <tr>
                        <td>투표 제목</td>
                        <td>
                            <div class="ui fluid input">
                                <input type="text" name="title" id="title" placeholder="투표제목을 입력하세요"
                                    th:value="${voteInfo.name}">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>투표 설명</td>
                        <td>
                            <div class="ui fluid input">
                                <input type="text" name="description" id="description"
                                    th:value="${voteInfo.description}">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>


            <div class="votes">
                <div class="vote-item" th:each="vote : ${voteInfo.voteList}">
                    <div class="ui labeled input">
                        <div class="ui basic label">세부투표 제목</div>
                        <input type="text" name="title" id="title" width="300" th:value="${vote.name}">
                    </div>
                    <!-- <p> 선택 가능한 수 : <input type="number" name="selectNum" id="select-num"></p> -->
                    <!-- <p> 당선자 수 : <input type="number" name="electNum" id="elect-num"></p> -->
                    <div class="candidates">
                        <div class="candidate-item" th:each="candidate : ${vote.candidateList}">
                            <div class="ui form">
                                <div class="three fields">
                                    <div class="field">
                                        <label>후보자명</label>
                                        <input type="text" name="candidate" id="candidate" placeholder="후보자명"
                                            th:value="${candidate.name}">
                                    </div>
                                    <div class="field">
                                        <label>설명</label>
                                        <input type="text" name="candidateDesc" id="candidateDesc" placeholder="설명"
                                            th:value="${candidate.description}">
                                    </div>
                                    <div class="field">
                                        <label>삭제</label>
                                        <button type="button" class="ui red basic button candidate-button"
                                            onclick="removeCandidate(this)">후보자
                                            삭제</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="ui button" onclick="addCandidate(this)">후보자 추가</button>
                    <button type="button" class="ui red button vote-button" onclick="removeVote(this)">투표 삭제</button>
                </div>
            </div>

            <button type="button" class="ui button" th:onclick="|modifyForm(${applyId})|">등록</button>
        </div>
        <!-- </form> -->

        <div class="candidate-template" style="display:none">
            <div class="candidate-item">
                <div class="ui form">
                    <div class="three fields">
                        <div class="field">
                            <label>후보자명</label>
                            <input type="text" name="candidate" id="candidate" placeholder="후보자명">
                        </div>
                        <div class="field">
                            <label>설명</label>
                            <input type="text" name="candidateDesc" id="candidateDesc" placeholder="설명">
                        </div>
                        <div class="field">
                            <label>삭제</label>
                            <button type="button" class="ui red basic button candidate-button"
                                onclick="removeCandidate(this)">후보자
                                삭제</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="vote-template" style="display:none">
            <div class="vote-item">
                <div class="ui labeled input">
                    <div class="ui basic label">세부투표 제목</div>
                    <input type="text" name="title" id="title" width="300">
                </div>
                <!-- <p> 선택 가능한 수 : <input type="number" name="selectNum" id="select-num"></p> -->
                <!-- <p> 당선자 수 : <input type="number" name="electNum" id="elect-num"></p> -->
                <div class="candidates">
                </div>
                <button type="button" class="ui button" onclick="addCandidate(this)">후보자 추가</button>
                <button type="button" class="ui red button vote-button" onclick="removeVote(this)">투표 삭제</button>
            </div>
        </div>
    </div>
</body>

</html>