<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/lib/semantic/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/lib/semantic/semantic.min.js"></script>
    <script src="/js/vote.js"></script>

</head>

<body>
    <div class="wrapper">
        <h1 class="ui header">[[${voteInfo.name}]]
            <div class="sub header">투표하세요</div>
        </h1>
        <div class="ui raised segment voteList" th:each="voteList : ${voteInfo.voteList}">
            <div class="ui header">
                [[${voteList.sequenceNumber}]]번째 투표 [[${voteList.name}]]
                <div class="ui sub header">[[${voteList.selectedNumber}]]명 선택하세요</div>
            </div>
            <input type="hidden" th:value="${voteList.id}" name="voteListId" id="voteListId">
            <div class="candidate-items ui cards">
                <div class="candidate-item ui card" th:each="candidate, iter : ${voteList.candidateList}">
                    <input type="hidden" th:value="${candidate.id}" name="candidateId" id="candidateId">
                    <input type="hidden" th:value="${candidate.sequenceNumber}" name="candidateSequenceNumber"
                        id="candidateSequenceNumber">
                    <div class="content">
                        <div class="header">[[${candidate.sequenceNumber}]]. [[${candidate.name}]]</div>
                    </div>
                    <div class="extra content">
                        <div class="ui checkbox">
                            <input type="checkbox" th:value="1" th:name="voteList+${voteList.id}"
                                th:id="'candidate'+${candidate.id}">
                            <label>선택</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <button th:onclick="|sendVote(${voteInfo.id});|">제출</button>
    </div>
</body>

</html>