<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>투표제작</title>
</head>
<script>
    function addVote(e) {
        let votes = document.getElementsByClassName('votes')[0];
        let appendDiv = document.getElementsByClassName('vote-template')[0].childNodes[1];
        votes.appendChild(appendDiv.cloneNode(true));
    }

    function removeVote(value) {
        value.parentNode.remove();
    }

    function addCandidate(value) {
        let appendDiv = document.getElementsByClassName('candidate-template')[0].childNodes[1];
        console.log()
        value.parentNode.nextSibling.nextSibling;
    }

    function removeCandidate() {

    }
</script>

<body>
    <form action="/vote/making">
        <p>투표 설명 <input type="text" name="description" id="description"> </p>

        <div class="votes">
            <button type="button" class="vote-button" onclick="addVote()">투표 추가</button>
        </div>

        <input type="submit">
    </form>

    <div class="candidate-template" style="display:none">
        <div class="candidate-item">
            <p> 후보자 <input type="text" name="candidate[]" id="candidate">
                <button type="button" class="candidate-button" onclick="removeCandidate()">후보자 삭제</button>
            </p>
        </div>
    </div>
    <div class="vote-template" style="display:none">
        <div class="vote-item">
            <p> title : <input type="text" name="title[]" id="title">
                <button type="button" onclick="addCandidate(this)">후보자 추가</button>
            </p>
            <div class="candidates">
            </div>
            <button type="button" class="vote-button" onclick="removeVote(this)">투표 삭제</button>
        </div>
    </div>
</body>

</html>