<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/lib/semantic/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/lib/semantic/semantic.min.js"></script>
</head>

<body>

    <div th:replace="fragments/header"></div>
    <div class="wrapper">
        <div id="error" class="ui secondary inverted red segment" style="display : none;">
            <p id="error-message">이름 또는 휴대전화를 잘못 입력하셨습니다.</p>
        </div>
        <div class="ui middle aligned center user-sign-form">
            <div class="column">
                <h3 class="ui header">이름과 휴대전화를 입력하세요</h2>
                    <div class="field">
                        <div class="ui input">
                            <input type="text" name="name" id="name" placeholder="이름">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui labeled input">
                            <input type="text" name="phone1" id="phone1" placeholder="010">
                            <div class="ui basic label">ㅡ</div>
                            <input type="text" name="phone2" id="phone2" placeholder="XXXX" pattern="[0-9]{4}">
                            <div class="ui basic label">ㅡ</div>
                            <input type="text" name="phone3" id="phone3" placeholder="XXXX" pattern="[0-9]{4}">
                        </div>
                    </div>
                    <div class="error"></div>
                    <button class="ui button" onclick="signinByLink()">확인</button>
            </div>
        </div>
    </div>
</body>
<script th:inline="javascript">
    async function signinByLink() {
        let name = document.getElementById('name').value;
        let phone1 = document.getElementById('phone1').value;
        let phone2 = document.getElementById('phone2').value;
        let phone3 = document.getElementById('phone3').value;
        let phone = phone1 + phone2 + phone3;
        /*<![CDATA[*/
        let uid = /*[[ ${uid} ]]*/ ;
        /*]]*/
        let url = `/api/v1/vote/${uid}/sign/`;
        let response = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name,
                phone
            })
        });

        if (response && response.ok) {
            window.location.replace(`/vote/${uid}/voting`)
        } else {
            let error = document.getElementById('error')
            error.innerText = await response.json();
            error.style.display = 'block';
        }
    }
</script>

</html>