<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>내용</title>
    <link rel="stylesheet" type="text/css" href="/lib/semantic/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/lib/semantic/semantic.min.js"></script>
    <script src="/js/apply.js"></script>

    <style>
        .content-form {
            display: none;
        }

        tbody tr td:first-child {
            width: 170px;
            height: 60px;
        }

        #modify-cancle,
        #modify {
            display: none;
        }
    </style>
</head>

<body>
    <div th:replace="fragments/header"></div>

    <div class="wrapper">
        <h1 class="ui header">이용신청서</h1>
        <div class="sub header">이용신청서를 작성하세요</div>

        <table class="ui definition table">
            <tbody>
                <tr>
                    <td>투표명</td>
                    <td>
                        <div class="content">[[${apply.title}]]</div>
                        <div class="content-form">
                            <div class="ui input">
                                <input type="text" name="voteTitle" id="voteTitle" placeholder="투표명을 입력하세요">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>대표자이름</td>
                    <td>
                        <div class="content">[[${apply.name}]]</div>
                        <div class="content-form">
                            <div class="ui input">
                                <input type="text" name="name" id="name" placeholder="이름을 입력하세요">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>이메일</td>
                    <td>
                        <div class="content">[[${apply.email}]]</div>
                        <div class="content-form">
                            <div class="ui input">
                                <input type="email" name="email" id="email" placeholder="이메일을 입력하세요">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>전화번호</td>
                    <td>
                        <div class="content">
                            [[${apply.phone.substring(0,3)}]]-[[${apply.phone.substring(3,7)}]]-[[${apply.phone.substring(7,11)}]]
                        </div>
                        <div class="content-form">

                            <div class="ui labeled input">
                                <input type="text" name="phone1" id="phone1" placeholder="010">
                                <div class="ui basic label">ㅡ</div>
                                <input type="text" name="phone2" id="phone2" placeholder="XXXX">
                                <div class="ui basic label">ㅡ</div>
                                <input type="text" name="phone3" id="phone3" placeholder="XXXX">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>예상 투표 인원</td>
                    <td>
                        <div class="content">[[${apply.expectedCount}]]</div>
                        <div class="content-form">
                            <div class="ui right labeled input">
                                <input type="number" name="expectedCount" id="expectedCount">
                                <div class="ui basic label">명</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>시작 날짜</td>
                    <td>
                        <div class="content">[[${apply.start}]]</div>
                        <div class="content-form">

                            <div class="ui labeled input">
                                <input type="number" name="startYear" id="startYear">
                                <div class="ui basic label">년</div>
                                <input type="number" name="startMonth" id="startMonth">
                                <div class="ui basic label">월</div>
                                <input type="number" name="startDay" id="startDay">
                                <div class="ui basic label">일</div>
                                <input type="number" name="startHour" id="startHour">
                                <div class="ui basic label">시</div>
                                <input type="number" name="startMinute" id="startMinute">
                                <div class="ui basic label">분</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>종료 날짜</td>
                    <td>
                        <div class="content">[[${apply.end}]]</div>
                        <div class="content-form">
                            <div class="ui labeled input">
                                <input type="number" name="endYear" id="endYear">
                                <div class="ui basic label">년</div>
                                <input type="number" name="endMonth" id="endMonth">
                                <div class="ui basic label">월</div>
                                <input type="number" name="endDay" id="endDay">
                                <div class="ui basic label">일</div>
                                <input type="number" name="endHour" id="endHour">
                                <div class="ui basic label">시</div>
                                <input type="number" name="endMinute" id="endMinute">
                                <div class="ui basic label">분</div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="modify-button">
            <button th:if="!${apply.voted}" id="modify-view" class="ui primary button"
                th:onclick='|modifyView(${apply.id})|'>편집</button>
            <button id="modify-cancle" class="ui primary button" onclick='cancleModify()'>편집취소</button>
            <button id="modify" class="ui primary button" th:onclick='|modifyApply(${apply.id})|'>수정</button>
            <button id="apply-remove" class="ui primary red button" th:onclick='|removeApply(${apply.id})|'>이용신청서 삭제</button>
        </div>

        <footer th:replace="fragments/footer"></footer>
    </div>
</body>
</html>