<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>등록 성공</title>
    <link rel="stylesheet" type="text/css" href="/lib/semantic/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/lib/semantic/semantic.min.js"></script>
</head>

<body>
    <header th:replace="fragments/header"></header>

    <div class="wrapper">
        <p>성공하셨솝니다.</p>
        <p>[[${apply.id}]]</p>
        <p>[[${apply.name}]]</p>
        <p>[[${apply.email}]]</p>
        <p>[[${apply.phone}]]</p>
        <p>[[${apply.title}]]</p>
        <p>[[${apply.expectedCount}]]</p>
        <a href="/apply/list">신청서 리스트 이동</a>
    </div>

    <footer th:replace="fragments/footer"></footer>

</body>

</html>