<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>내용</title>
    <link rel="stylesheet" type="text/css" href="/lib/semantic/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/lib/semantic/semantic.min.js"></script>

    <style>
        .content-form {
            display: none;
        }

        tbody tr td:first-child {
            width: 170px;
            height: 60px;
        }

        #modify-cancle,
        #modify {
            display: none;
        }
    </style>
</head>

<body>
    <div th:replace="fragments/header"></div>

    <div class="wrapper">
        <h1 class="ui header">이용신청서</h1>
        <div class="sub header">이용신청서를 작성하세요</div>

        <table class="ui definition table">
            <tbody>
                <tr>
                    <td>투표명</td>
                    <td>
                        <div class="content">[[${apply.title}]]</div>
                        <div class="content-form">
                            <div class="ui input">
                                <input type="text" name="voteTitle" id="voteTitle" placeholder="투표명을 입력하세요">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>대표자이름</td>
                    <td>
                        <div class="content">[[${apply.name}]]</div>
                        <div class="content-form">
                            <div class="ui input">
                                <input type="text" name="name" id="name" placeholder="이름을 입력하세요">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>이메일</td>
                    <td>
                        <div class="content">[[${apply.email}]]</div>
                        <div class="content-form">
                            <div class="ui input">
                                <input type="email" name="email" id="email" placeholder="이메일을 입력하세요">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>전화번호</td>
                    <td>
                        <div class="content">
                            [[${apply.phone.substring(0,3)}]]-[[${apply.phone.substring(3,7)}]]-[[${apply.phone.substring(7,11)}]]
                        </div>
                        <div class="content-form">

                            <div class="ui labeled input">
                                <input type="text" name="phone1" id="phone1" placeholder="010">
                                <div class="ui basic label">ㅡ</div>
                                <input type="text" name="phone2" id="phone2" placeholder="XXXX">
                                <div class="ui basic label">ㅡ</div>
                                <input type="text" name="phone3" id="phone3" placeholder="XXXX">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>예상 투표 인원</td>
                    <td>
                        <div class="content">[[${apply.expectedCount}]]</div>
                        <div class="content-form">
                            <div class="ui right labeled input">
                                <input type="number" name="expectedCount" id="expectedCount">
                                <div class="ui basic label">명</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>시작 날짜</td>
                    <td>
                        <div class="content">[[${apply.start}]]</div>
                        <div class="content-form">

                            <div class="ui labeled input">
                                <input type="number" name="startYear" id="startYear">
                                <div class="ui basic label">년</div>
                                <input type="number" name="startMonth" id="startMonth">
                                <div class="ui basic label">월</div>
                                <input type="number" name="startDay" id="startDay">
                                <div class="ui basic label">일</div>
                                <input type="number" name="startHour" id="startHour">
                                <div class="ui basic label">시</div>
                                <input type="number" name="startMinute" id="startMinute">
                                <div class="ui basic label">분</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>종료 날짜</td>
                    <td>
                        <div class="content">[[${apply.end}]]</div>
                        <div class="content-form">
                            <div class="ui labeled input">
                                <input type="number" name="endYear" id="endYear">
                                <div class="ui basic label">년</div>
                                <input type="number" name="endMonth" id="endMonth">
                                <div class="ui basic label">월</div>
                                <input type="number" name="endDay" id="endDay">
                                <div class="ui basic label">일</div>
                                <input type="number" name="endHour" id="endHour">
                                <div class="ui basic label">시</div>
                                <input type="number" name="endMinute" id="endMinute">
                                <div class="ui basic label">분</div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="modify-button">
            <button th:if="!${apply.voted}" id="modify-view" class="ui primary button"
                onclick='modifyView()'>편집</button>
            <button id="modify-cancle" class="ui primary button" onclick='cancleModify()'>편집취소</button>
            <button id="modify" class="ui primary button" onclick='submit()'>수정</button>
            <button id="apply-remove" class="ui primary red button" onclick='removeApply()'>이용신청서 삭제</button>
        </div>

        <footer th:replace="fragments/footer"></footer>
    </div>
</body>

<script th:inline="javascript">
    /* <![CDATA[ */
    async function modifyView() {
        let applyId = /*[[${apply.id}]]*/ ;
        let contentArray = document.getElementsByClassName('content');
        for (let item of contentArray) {
            item.style.display = 'none';
        }

        let contentForm = document.getElementsByClassName('content-form');
        for (let item of contentForm) {
            item.style.display = 'block';
        }
        document.getElementById('modify-view').style.display = 'none';
        document.getElementById('modify-cancle').style.display = 'inline-block';
        document.getElementById('modify').style.display = 'inline-block';

        let response = await fetch(`/api/v1/apply/${applyId}`, {
            method: 'GET'
        });

        let data = await response.json();
        console.log(data);
        document.getElementById('name').value = data.name;
        document.getElementById('email').value = data.email;
        document.getElementById('phone1').value = data.phone.substring(0, 3);
        document.getElementById('phone2').value = data.phone.substring(3, 7);
        document.getElementById('phone3').value = data.phone.substring(7, 11);
        document.getElementById('voteTitle').value = data.voteTitle;
        document.getElementById('expectedCount').value = data.expectedCount;

        let start = new Date(data.startVote);
        document.getElementById('startYear').value = start.getFullYear();
        document.getElementById('startMonth').value = new Number(start.getMonth()) + 1;
        document.getElementById('startDay').value = start.getDate();
        document.getElementById('startHour').value = new Number(start.getHours());
        document.getElementById('startMinute').value = start.getMinutes();

        let end = new Date(data.endVote);

        document.getElementById('endYear').value = end.getFullYear();
        document.getElementById('endMonth').value = new Number(end.getMonth()) + 1;
        document.getElementById('endDay').value = end.getDate();
        document.getElementById('endHour').value = new Number(end.getHours());
        document.getElementById('endMinute').value = end.getMinutes();
    }

    async function cancleModify() {
        let contentArray = document.getElementsByClassName('content');

        for (let item of contentArray) {
            item.style.display = 'block';
        }

        let contentForm = document.getElementsByClassName('content-form');
        for (let item of contentForm) {
            item.style.display = 'none';
        }
        document.getElementById('modify-view').style.display = 'inline-block';
        document.getElementById('modify-cancle').style.display = 'none';
        document.getElementById('modify').style.display = 'none';
    }
    //각각의 검증은 나중에
    async function submit() {

        let id = /*[[${apply.id}]]*/ ;

        let name = document.getElementById('name').value;
        let email = document.getElementById('email').value;
        let phone1 = document.getElementById('phone1').value;
        let phone2 = document.getElementById('phone2').value;
        let phone3 = document.getElementById('phone3').value;
        let voteTitle = document.getElementById('voteTitle').value;
        let expectedCount = document.getElementById('expectedCount').value;
        let startYear = document.getElementById('startYear').value;
        let startMonth = document.getElementById('startMonth').value;
        let startDay = document.getElementById('startDay').value;
        let startHour = document.getElementById('startHour').value;
        let startMinute = document.getElementById('startMinute').value;

        let endYear = document.getElementById('endYear').value;
        let endMonth = document.getElementById('endMonth').value;
        let endDay = document.getElementById('endDay').value;
        let endHour = document.getElementById('endHour').value;
        let endMinute = document.getElementById('endMinute').value;

        let startVote = `${startYear}-${startMonth}-${startDay}T${startHour}:${startMinute}:00`;
        let endVote = `${endYear}-${endMonth}-${endDay}T${endHour}:${endMinute}:00`;

        let startDate = new Date(startYear, new Number(startMonth) - 1, startDay, new Number(startHour), new Number(
            startMinute), 0);
        let endDate = new Date(endYear, new Number(endMonth) - 1, endDay, new Number(endHour), new Number(
            endMinute), 0);


        let now = new Date();

        if (startDate < now) {
            alert('오늘보다 이전의 값으로 설정 불가');
            return;
        }

        if (startDate > endDate) {
            alert('시작날짜는 종료날짜보다 항상 앞에 있어야 합니다.')
            return;
        }

        const value = {
            id,
            name,
            email,
            phone: phone1 + phone2 + phone3,
            voteTitle,
            expectedCount,
            startVote: startVote.toISOString().slice(0, -5),
            endVote: endVote.toISOString().slice(0, -5)
        }

        let response = await fetch('/api/v1/apply', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(value)
        });

        if (response && response.ok) {
            alert("성공");
            window.location.reload();
        } else {
            console.log(error);
            alert('에러@@');
            window.location.reload();
        }
    }

    async function removeApply() {
        if (!confirm("이용신청서를 삭제하시겠습니까?")) {
            return;
        }

        let id = /*[[${apply.id}]]*/ ;
        let response = await fetch(`/api/v1/apply/${id}`, {
            method: 'DELETE'
        });

        if (response && response.ok) {
            alert("삭제가 성공되었습니다");
            window.location.replace('/apply');
        }else{
            console.log(error);
            alert('에러@@');
        }
    }
    /*]]>*/
</script>

</html>