<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원 수정</title>
    <link rel="stylesheet" type="text/css" href="/lib/semantic/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/lib/semantic/semantic.min.js"></script>
    <script src="/js/user.js"></script>
</head>

<body>
    <div th:replace="fragments/header"></div>

    <div class="wrapper">
        <h1>회원정보수정</h1>
        <form class="ui form">
            <div class="field">
                <label>이름</label>
                <input type="text" name="name" id="name" th:value="${user.name}" required>
            </div>
            <div class="field">
                <label>이메일</label>
                <input type="email" name="email" id="email" th:value="${user.email}" required>
            </div>
            <div class="field">
                <label>전화번호</label>
                <input type="text" name="phone" id="phone" pattern=/(\d{11})/ th:value="${user.phone}" required>
            </div>
        </form>
        <button class="ui button" onclick="modifyUser()">수정</button>
    </div>
</body>

</html>