<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/lib/semantic/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/lib/semantic/semantic.min.js"></script>
    <script src="/js/user.js"></script>

</head>

<body>
    <div th:replace="fragments/header"></div>

    <div class="wrapper">
        <h1>회원가입</h1>
        <form class="ui form">
            <div class="field">
                <label>아이디</label>
                <input type="text" name="userId" id="userId" onkeypress="changeId()" required>
                <span id="checkResult"></span>
                <button type="button" onclick="checkSameId()">중복검사</button>
            </div>
            <div class="field">
                <label>비밀번호</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div>
                <label>비밀번호 확인</label>
                <input type="password" name="passwordChk" id="passwordChk" required>
            </div>
            <div class="field">
                <label>이름</label>
                <input type="text" name="name" id="name" required>
            </div>
            <div class="field">
                <label>전화번호</label>
                <input type="text" name="phone" id="phone" pattern=/(\d{3})(\d{4})(\d{4})/ required>
            </div>
        </form>
        <button class="ui button" onclick="signup()">회원가입</button>
    </div>

</body>

</html>