<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="item" href="/">Home</a>
            <a class="item" href="/apply/making">Apply</a>
            <a class="item" href="/apply">Make</a>
            <a sec:authorize="hasRole('ADMIN')" class="item" href="/admin">admin</a>
            <div class="right item">
                <div sec:authorize="!isAuthenticated()">
                    <a class="ui inverted button" href="/user/login">Log in</a>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a class="ui inverted button" href="/user/signup">Sign Up</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a class="ui inverted button" href="/user/logout">Log out</a>
                </div>
            </div>
        </div>
    </div>
</div>