<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="item" href="/admin">투표신청관리</a>
            <a class="item" href="/admin/user">회원관리</a>
            <a class="item" href="/admin/user/black">블랙리스트</a>


            <div class="right item">
                <div sec:authorize="!isAuthenticated()">
                    <a class="ui inverted button" href="/user/login">Log in</a>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a class="ui inverted button" href="/user/signup">Sign Up</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a class="ui inverted button" href="/user/logout">Log out</a>
                </div>
            </div>
        </div>
    </div>
</div>